/* =====================================*/
/*          TABLE OF CONTENTS
/* =====================================*/

/* 1. Imports
/* 2. Variables
/* 3. Typography
/* 4. Layout
/* 5. Buttons
/* 6. Media Queries */


/* =====================================*/
/*              1. Imports */
/* =====================================*/

/* Fonts */

@font-face {
    font-family: 'Viper Nora';
    src: url('../fonts/viper_nora.woff') format('woff');
}

@font-face {    
    font-family: 'Viper Nora';
    src: url('../fonts/Avenir_Next.ttc') format('tcc');
}


/* =====================================*/
/*              2. Variables */
/* =====================================*/

:root {

    /* Colors General*/
    --color-01: #000;
    --color-02: #262626;
    --color-03: #FFFFFF;
    --color-04: #AAAAAA;

    /* Colors Light Line */
    --color-LL_01: #B6DDDB;
    --color-LL_02: #D6E4AE;
    --color-LL_03: #FFECA9;
    --color-LL_04: #C9C5E3;
    --color-LL_05: #FAC88B;

    /* Colors Core Line */
    --color-CL_01: #F39CA2;
    --color-CL_02: #83D0F5;
    --color-CL_03: #FFF271;
    --color-CL_04: #F7931E;
    --color-CL_05: #8EC89A;

    /* Gradients */
    --gradient-01: radial-gradient(circle, rgba(38,38,38,1) 0%, rgba(0,0,0,1) 100%);

    /* Box-shadow */
    --shadow-01: 5px 5px 10px var(--color-01);

    /* Typography */
    font-size: 16px; /* 1rem = 16px */

    --font-family_01: 'Viper Nora';
    --font-family_02: 'Avenir Next';

    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-thin: 100;

    --font-size-p-mobile: 1rem;
    --font-size-b-mobile: 1.3rem;
    --font-size-h2-mobile: clamp(2rem, 15vw, 6rem);
    --font-size-h3-mobile: clamp(1rem, 10vw, 1.8rem);
    --font-size-h4-mobile: clamp(.8rem, 10vw, 1.5rem);
    --font-size-nav-mobile: 2rem;

    --font-size-h2-desktop: clamp(5rem, 15vw, 10rem);
    --font-size-h3-desktop: clamp(1.8rem, 10vw, 2.5rem);
    --font-size-nav-desktop: 3rem;

    --line-height-mobile: calc(var(--font-size-p-mobile) * 1.8);

    /* Spacing */
    --padding-side-mobile: 30px;
    --gap-mobile: 60px;
    --max-width-mobile: 500px;

    --padding-side-desktop: 10vw;
    --max-width-desktop: 1920px;

    /* Border Radius */
    --border-radius-01: 5px;
    --border-radius-02: 500px;
}

/* =====================================*/
/*             3. Typography */
/* =====================================*/

body *{
    color: var(--color-03);
    font-family: var(--font-family_02), sans-serif;
    hyphens:auto;
}

.no-scroll{
    overflow: hidden;
}

h2 {
    font-family: var(--font-family_01), sans-serif;
    color: var(--color-04);
    font-size: var(--font-size-h2-mobile); 
    text-align: center;
    margin-bottom: 1rem;
}

h3 {
    font-size: var(--font-size-h3-mobile); 
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    text-align: center;
    margin-bottom: 1rem;
}

h4{
    font-size: var(--font-size-h4-mobile);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    text-align: center;
}

p{
    font-size: var(--font-size-p-mobile);
    line-height: var(--line-height-mobile);
    margin: 0 auto;
    text-align: center;
}

.testimonial p{
    color: var(--color-01);
    font-weight: var(--font-weight-medium);
}

.uppercase{
    text-transform: uppercase;
}

.main-nav a{
    font-size: var(--font-size-nav-mobile);
    color: var(--color-03);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
}

b{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-b-mobile);
    text-transform: uppercase;
    line-height: calc(var(--font-size-b-mobile) * 2);
}

.intensity-display b{
    font-size: calc(var(--font-size-b-mobile) * 2);
}

/* =====================================*/
/*              4. Layout */
/* =====================================*/

/* General */

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-01);
}

main{
    overflow: hidden;
}

img{
    width: 100%;
}

.hidden{
    display: none !important; /* Hide elements */
}

/* Scrollbar */

body *::-webkit-scrollbar {
    display: none; 
}

body * {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

/* Preloader */

#preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-01);
    display: grid;
    place-items: center;
    z-index: 99999;
    overflow: hidden;
}

#preloader svg{
    width: 50vw;
    max-width: 200px;
}

#preloader svg .outer{
    transform-origin: center;
    animation: rotate 10s linear infinite;
}

/* Preloader Animation*/

#outer{
    transform: rotate(20deg);
    transform-origin: center;
}

/* Header/ Navigation */
header {
    position: fixed;
    width: 100vw;
    -webkit-backdrop-filter: blur(15px) brightness(60%);
    backdrop-filter: blur(15px) brightness(60%);
    z-index: 9999;
}

.navbar {
    height: 10vh;
    padding: 0 var(--padding-side-mobile);
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .logo{
    width: clamp(3rem, 25vw, 8rem);
}

.burger{
    width: 40px;
    min-width: 40px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.burger.active .line:nth-child(1){
    transform: rotate(45deg);
}

.burger.active .line:nth-child(2){
    opacity: 0;
}

.burger.active .line:nth-child(3){
    transform: rotate(-45deg);
}

.burger .line{
    background-color: var(--color-03);
    width: 100%;
    height: 8%;
    border-radius: var(--border-radius-01);
    transform-origin: 0 50% 0;
    transition: all .5s ease;
}

.main-nav{
    width: 100vw;
    height: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all .3s ease;
    overflow: hidden;
}

.main-nav.active{
    height: 90vh;
}

.main-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Sections General */
#Wirkstoff,
#Produkte,
#Sorten-LL,
#Sorten-CL,
#Kunden{
    scroll-margin-top: 5vh;
}

section{
    display: flex;
    flex-direction: column;
    gap: var(--gap-mobile);
    padding: 10vh var(--padding-side-mobile);
    max-width: var(--max-width-mobile);
    margin: 0 auto;
}

.bg-divider-bottom{
    background-image: url('../mediafiles/divider/cracked_asphalt_inverted_unten.svg'), url('../mediafiles/mobile/patterns/cracked_asphalt_seamless_pattern.webp');
    background-size: contain, 100vw;
    background-repeat: no-repeat, repeat;
    background-position: bottom, top;
}

.bg-divider-top{
    background-image: url('../mediafiles/divider/cracked_asphalt_inverted_oben.svg'), url('../mediafiles/mobile/patterns/cracked_asphalt_seamless_pattern.webp');
    background-size: contain, 100vw;
    background-repeat: no-repeat, repeat;
    background-position: top, bottom;
    padding: 10vh 0;
}

.bg-divider-top-bottom{
    background-image: url('../mediafiles/divider/cracked_asphalt_inverted_oben.svg'), url('../mediafiles/divider/cracked_asphalt_inverted_unten.svg'), url('../mediafiles/mobile/patterns/cracked_asphalt_seamless_pattern.webp');
    background-size: contain, contain, 100vw;
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: top, bottom, bottom;
    padding: 10vh 0;
}

.bg-gradient{
    position: relative;
}

.bg-gradient::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 50%;
    height: 40vw;
    width: 100%;
    max-width: 500px;
    background-image: url("../mediafiles/svg/thc-p_chemical_compound.svg");
    background-repeat: no-repeat;
    opacity: 30%;
    z-index: -1;
    transform: rotate(-20deg) translateX(-50%);
}

/* Home */

#Home{
    height: 100vh;
    padding: 0;
    display: grid;
    place-items: center;
}

#slogan{
    width: 75vw;
    max-width: 300px;
}

#slogan-outer{
    transform-origin: center;
}

/* Wirkstoff */

#Wirkstoff{
    position: relative;
}

.thc-p_chemical_compound{
    top: 0;
    right: -20%;
    width: 70vw;
    opacity: 35%;
    transform: rotate(-20deg);
    position: absolute;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.flex-container-row{
    display: flex;
    justify-content: space-between;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

/* Vergleich */

.flex-container.comparison{
    width: 100%;
    max-width: 500px;
}

.comparison .flex-row{
    gap: 1rem;
}


.flex-row-element{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}

.flex-row-element img{
    height: 5rem;
}

.comparison div{
    font-weight: var(--font-weight-bold);
    box-shadow: var(--shadow-01);
}

.comparison .flex-row div:nth-child(odd){
    background-color: var(--color-01);
    border-radius: var(--border-radius-01);
    border: 1px solid var(--color-03);
    color: var(--color-03);
    padding: .5rem;
    hyphens: auto;
    white-space: nowrap; 
}

.comparison .flex-row:nth-child(odd) div:nth-child(odd){
    background-color: var(--color-03);
    color: var(--color-02);
}

/* Effect Visualization */
.effect-visualization{
    background-image: url('../mediafiles/svg/Lines.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 5vh 0;
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 16/9;
    display: grid;
    place-items: center;
}

.effect-visualization .flex-container{
    width: 100%;
}

.effect-visualization .flex-row-element{
    filter: drop-shadow(var(--shadow-01));
}

.effect-visualization .flex-row{
    flex-wrap: wrap;
}

.effect-visualization .flex-row-element{
    min-width: 80px;
    padding: 0 30%rem;
}

.effect-visualization img{
    animation: levitate 3s infinite ease-in-out
}

.effect-visualization .flex-row-element:nth-child(1) img{
    animation-delay: 0s;
}

.effect-visualization .flex-row-element:nth-child(2) img{
    animation-delay: 0.5s;
}

.effect-visualization .flex-row-element:nth-child(3) img{
    animation-delay: 1s;
}

/* Produkte */

.container-desktop{
    display: none;
}

#Produkte .flex-container{
    gap: 1.8rem;
}

#Produkte .flex-container div{
    font-size: var(--font-size-p-mobile);
}

.product-img {
    width: 100%;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(var(--shadow-01));
    margin-top: 2rem;
}

.product-img.vape_1ml{
    background-image: url('../mediafiles/mobile/product-images/vapes/4twenty_vape_1ml.webp');
}

.product-img.vape_2ml{
    background-image: url('../mediafiles/mobile/product-images/vapes/4twenty_vape_2ml.webp');
}

/* Geschmackssorten Übersicht */

.intensity-display{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.intensity-display .line{
    background-color: var(--color-03);
    width: 100%;
    height: 1px;
}

.slider-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.slider{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory; /*scroll-snap*/ 
    scroll-behavior: smooth;
}

.slider-element{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start; /*scroll-snap*/
}

.slider-container .slider-arrows{
    position: absolute;
    top: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    pointer-events: none;
}

.slider-container .slider-arrows .arrow{
    width: 10vw;
    max-width: 50px;
    aspect-ratio: 1/1;
    pointer-events: all;
}

.slider-container .slider-arrows .arrow:nth-child(1){
    transform: scale(-1);
}

.dots{
    display: flex;
    gap: .8rem;
    justify-content: center
}

.dot{
    width: .8rem;
    aspect-ratio: 1/1;
    background-color: var(--color-03);
    border-radius: 50%;
    opacity: 50%;
}

.dot.active{
    opacity: 100%;
}

.flavors-overview .slider-element{
    gap: 4rem;
}

.flavors-overview .circle{
    position: relative;
    width: 50vw;
    max-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: var(--shadow-01);
    z-index: 1;
    overflow:visible;
}

.flavors-overview .circle img{
    position: absolute;
    top: 0;
    left: 50%;
    height: 90%;
    transform: translate(-50%, 30%);
    filter: drop-shadow(var(--shadow-01));
    z-index: 2;
}

.flavors-overview .description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.flavors-overview .leaf img{
    height: 5rem;
}

/* Light Line */

#Sorten-LL .slider-element:nth-child(1) .circle{
    background-color: var(--color-LL_01);
}

#Sorten-LL .slider-element:nth-child(2) .circle{
    background-color: var(--color-LL_02);
}

#Sorten-LL .slider-element:nth-child(3) .circle{
    background-color: var(--color-LL_03);
}

#Sorten-LL .slider-element:nth-child(4) .circle{
    background-color: var(--color-LL_04);
}

#Sorten-LL .slider-element:nth-child(5) .circle{
    background-color: var(--color-LL_05);
}

/* Core Line */

#Sorten-CL .slider-element:nth-child(1) .circle{
    background-color: var(--color-CL_01);
}

#Sorten-CL .slider-element:nth-child(2) .circle{
    background-color: var(--color-CL_02);
}

#Sorten-CL .slider-element:nth-child(3) .circle{
    background-color: var(--color-CL_03);
}

#Sorten-CL .slider-element:nth-child(4) .circle{
    background-color: var(--color-CL_04);
}

#Sorten-CL .slider-element:nth-child(5) .circle{
    background-color: var(--color-CL_05);
}

/* Produkte */

.product-slider .slider-element{
    gap: 2rem;
}

.product-slider .product-img{
    aspect-ratio: 5/4;
    margin: 0;
}

/* Light Line */
#Produkte-LL .slider-element:nth-child(1) .product-img{
    background-image: url('../mediafiles/mobile/product-images/light-line/4twenty_product-image_zkittles.webp');
}

#Produkte-LL .slider-element:nth-child(2) .product-img{
    background-image: url('../mediafiles/mobile/product-images/light-line/4twenty_product-image_limette_+_minze.webp');
}

#Produkte-LL .slider-element:nth-child(3) .product-img{
    background-image: url('../mediafiles/mobile/product-images/light-line/4twenty_product-image_exotische_fruechte_+_ananas.webp');
}

#Produkte-LL .slider-element:nth-child(4) .product-img{
    background-image: url('../mediafiles/mobile/product-images/light-line/4twenty_product-image_black_fruits_+_acai.webp');
}

#Produkte-LL .slider-element:nth-child(5) .product-img{
    background-image: url('../mediafiles/mobile/product-images/light-line/4twenty_product-image_bienenstich_+_vanille.webp');
}

/* Core Line */
#Produkte-CL .slider-element:nth-child(1) .product-img{
    background-image: url('../mediafiles/mobile/product-images/core-line/4twenty_product-image_wedding-cake.webp');
}

#Produkte-CL .slider-element:nth-child(2) .product-img{
    background-image: url('../mediafiles/mobile/product-images/core-line/4twenty_product-image_obama-kush.webp');
}

#Produkte-CL .slider-element:nth-child(3) .product-img{
    background-image: url('../mediafiles/mobile/product-images/core-line/4twenty_product-image_lmn-runtz.webp');
}

#Produkte-CL .slider-element:nth-child(4) .product-img{
    background-image: url('../mediafiles/mobile/product-images/core-line/4twenty_product-image_ghost-train-haze.webp');
}

#Produkte-CL .slider-element:nth-child(5) .product-img{
    background-image: url('../mediafiles/mobile/product-images/core-line/4twenty_product-image_amnesia.webp');
}

/* Slider Hintergrundbilder*/

#Produkte-LL .slider-element,
#Produkte-CL .slider-element{
    padding-top: 20vh;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

/* Light Line */
#Produkte-LL .slider-element:nth-child(1){
    background-image: url('../mediafiles/mobile/product-slider_bg/product-slider_bg_skittlez.webp');
}

#Produkte-LL .slider-element:nth-child(2){
    background-image: url('../mediafiles/mobile/product-slider_bg/product-slider_bg_limette+minze.webp');
}

#Produkte-LL .slider-element:nth-child(3){
    background-image: url('../mediafiles/mobile/product-slider_bg/product-slider_bg_exotische_fruechte+ananas.webp');
}

#Produkte-LL .slider-element:nth-child(4){
    background-image: url('../mediafiles/mobile/product-slider_bg/product-slider_bg_blackfruits+acai.webp');
}

#Produkte-LL .slider-element:nth-child(5){
    background-image: url('../mediafiles/mobile/product-slider_bg/product-slider_bg_bienenstich+vanille.webp');
}

/* Core Line */
#Produkte-CL .slider-element:nth-child(1){
    background-image: url('../mediafiles/mobile/product-slider_bg/product-slider_bg_wedding_cake.webp');
}

#Produkte-CL .slider-element:nth-child(2){
    background-image: url('../mediafiles/mobile/product-slider_bg/product-slider_bg_obama_kush.webp');
}

#Produkte-CL .slider-element:nth-child(3){
    background-image: url('../mediafiles/mobile/product-slider_bg/product-slider_bg_lmn_runtz.webp');
}

#Produkte-CL .slider-element:nth-child(4){
    background-image: url('../mediafiles/mobile/product-slider_bg/product-slider_bg_ghost_train_haze.webp');
}

#Produkte-CL .slider-element:nth-child(5){
    background-image: url('../mediafiles/mobile/product-slider_bg/product-slider_bg_amnesia.webp');
}

/* Kunden */

#Kunden .slider-element{
    gap: 2rem;
}

#Kunden .customer-profile{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#Kunden .profile-pic{
    position: relative;
    background-color: var(--color-04);
    border-radius: var(--border-radius-02);
    overflow: hidden;
    width: 20vw;
    max-width: 150px;
    aspect-ratio: 1/1;
}

.customer-profile img{
    position: absolute;
    bottom: -25%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
}

#Kunden .testimonial{
    position: relative;
    background-color: var(--color-03);
    width: 60%;
    padding: 1rem;
    border-radius: var(--border-radius-01);
    opacity: 60%;
}

#Kunden .testimonial::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: translateY(99%);
    width: 5vw;
    max-width: 40px;
    aspect-ratio: 4/5;
    background-color: var(--color-03);
    clip-path: polygon(100% 100%, 0 0, 100% 0);
}

#Kunden .rating{
    display: flex;
    gap: 5px;
    justify-content: center;
}

/* Footer */

footer{
    display: none;
}


/* =====================================*/
/*              5. Buttons */
/* =====================================*/

.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    filter: drop-shadow(var(--shadow-01));
}

.button-container button{
    background-color: var(--color-01);
    color: var(--color-03);
    padding: 1rem 2rem;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-p-mobile);
    text-transform: uppercase;
}

.button-container button:nth-child(1){
    border-radius: var(--border-radius-02) 0 0 var(--border-radius-02);
}

.button-container button:nth-child(2){
    border-radius: 0 var(--border-radius-02) var(--border-radius-02) 0;
}

.button-container button.active{
    background-color: var(--color-03);
    color: var(--color-01);
}

.btn-01 {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    padding: 1rem 5vw;
    border: 1px solid var(--color-03);
}

/* =====================================*/
/*          6. Animationen */
/* =====================================*/

@keyframes levitate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* =====================================*/
/*          7. Media Queries */
/* =====================================*/

/* Very small devices */
@media only screen and (max-width: 300px){
    .effect-visualization{
        background-image: none;
    }
}

/* Tablet (hochkant) */
@media screen and (min-width: 480px){

    /* Hintergrundbilder */
    body *{
        color: red;
    }

    /* Hintergründe */

    .bg-divider-bottom{
        background-image: url('../mediafiles/divider/cracked_asphalt_inverted_unten.svg'), url('../mediafiles/tablet/patterns/cracked_asphalt_seamless_pattern.webp');
    }

    .bg-divider-top{
        background-image: url('../mediafiles/divider/cracked_asphalt_inverted_oben.svg'), url('../mediafiles/tablet/patterns/cracked_asphalt_seamless_pattern.webp');
    }

    .bg-divider-top-bottom{
        background-image: url('../mediafiles/divider/cracked_asphalt_inverted_oben.svg'), url('../mediafiles/divider/cracked_asphalt_inverted_unten.svg'), url('../mediafiles/tablet/patterns/cracked_asphalt_seamless_pattern.webp');
    }

    /* Produktbilder */

    /* Vapes */
    .product-img.vape_1ml{
        background-image: url('../mediafiles/tablet/product-images/vapes/4twenty_vape_1ml.webp');
    }
    
    .product-img.vape_2ml{
        background-image: url('../mediafiles/tablet/product-images/vapes/4twenty_vape_2ml.webp');
    }

    /* Light Line */
    #Produkte-LL .slider-element:nth-child(1) .product-img{
        background-image: url('../mediafiles/tablet/product-images/light-line/4twenty_product-image_zkittles.webp');
    }

    #Produkte-LL .slider-element:nth-child(2) .product-img{
        background-image: url('../mediafiles/tablet/product-images/light-line/4twenty_product-image_limette_+_minze.webp');
    }

    #Produkte-LL .slider-element:nth-child(3) .product-img{
        background-image: url('../mediafiles/tablet/product-images/light-line/4twenty_product-image_exotische_fruechte_+_ananas.webp');
    }

    #Produkte-LL .slider-element:nth-child(4) .product-img{
        background-image: url('../mediafiles/tablet/product-images/light-line/4twenty_product-image_black_fruits_+_acai.webp');
    }

    #Produkte-LL .slider-element:nth-child(5) .product-img{
        background-image: url('../mediafiles/tablet/product-images/light-line/4twenty_product-image_bienenstich_+_vanille.webp');
    }

    /* Core Line */
    #Produkte-CL .slider-element:nth-child(1) .product-img{
        background-image: url('../mediafiles/tablet/product-images/core-line/4twenty_product-image_wedding-cake.webp');
    }

    #Produkte-CL .slider-element:nth-child(2) .product-img{
        background-image: url('../mediafiles/tablet/product-images/core-line/4twenty_product-image_obama-kush.webp');
    }

    #Produkte-CL .slider-element:nth-child(3) .product-img{
        background-image: url('../mediafiles/tablet/product-images/core-line/4twenty_product-image_lmn-runtz.webp');
    }

    #Produkte-CL .slider-element:nth-child(4) .product-img{
        background-image: url('../mediafiles/tablet/product-images/core-line/4twenty_product-image_ghost-train-haze.webp');
    }

    #Produkte-CL .slider-element:nth-child(5) .product-img{
        background-image: url('../mediafiles/tablet/product-images/core-line/4twenty_product-image_amnesia.webp');
    }
}

/* Desktop/ Laptop/  Tablet (Landscape) */
@media screen and (min-width: 1024px) and (orientation: landscape){

    /* Typography */

    h2 {
        font-size: var(--font-size-h2-desktop);
        margin-bottom: 4rem;
    }

    h3 {
        font-size: var(--font-size-h3-desktop);
        margin-bottom: 2rem;
    }

    .main-nav a{
        font-size: var(--font-size-nav-desktop);
    }

    .intensity-display b{
        font-size: calc(var(--font-size-b-mobile) * 4);
    }

    /* General */
    html {
        height: 100vh;
        max-width: 2500px;
        position: relative;
    }
    
    body *{
        color: white; /*TODO: remove*/
    }

    main{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        max-height: 100vh;
    }

    main > * {
        min-width: 100vw;
        height: 100vh;   
    }

    section{
        height: 100vh;
        max-width: var(--max-width-desktop);
        gap: 0;
        padding: 10vh var(--padding-side-desktop);
        align-items: center;
    }

    /* Hintergründe */

    .bg-fullscreen{
        background-image: url('../mediafiles/desktop/background-images/cracked_asphalt_fullscreen.webp');
        background-size: 100vw 100vh;
        background-position: top;
        background-repeat: no-repeat;
        padding: 0;
    }

    .bg-divider-left-right{
        background-image: url('../mediafiles/desktop/background-images/cracked_asphalt_left-right.webp');
        background-size: 100vw 100vh;
        background-position: top;
        background-repeat: no-repeat;
        padding: 0;
    }

    .bg-divider-top-bottom.bg-fullscreen.bg-double-fullscreen{
        display: flex;
        min-width: 200vw;
    }

    .bg-double-fullscreen section{
        width: 100vw;
        flex-grow: 1;
        background-image: url('../mediafiles/desktop/background-images/cracked_asphalt_fullscreen.webp');
        background-size: 100vw 100vh;
        background-position: top;
        background-repeat: no-repeat;
    }

    /* Header/ Navigation */

    header {
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        transition: background-color .8s ease-out;
    }

    header.active{
        background-color: var(--color-01);
    }

    .navbar {
        padding: var(--padding-side-mobile);
        max-width: 80vw;
        padding: 0;
        margin: 0 auto;
    }

    .main-nav ul{
        gap: 3rem;
    }

    .main-nav .copyright{
        display: none;
    }

    /* Home */

    #slogan{
        width: 75vw;
        max-width: 400px;
    }

    /* Wirkstoff */

    #Wirkstoff p{
        max-width: 800px;
    }

    /* Produkte */

    #Produkte .button-container{
        display: none;
    }

    #Produkte .container-mobile{
        display: none;
    }

    #Produkte .container-desktop{
        display: flex;
    }

    #Produtkte .container-desktop img{
        flex-grow: 1;
    }

    #Produkte .container-desktop .flex-container-row:first-child{
        justify-content: space-around;
    }

    #Produkte .table {
        display: flex;
        flex-grow: 2;
        flex-direction: column;
    }

    #Produkte .table-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-03);
        padding: 1rem 0;
    }

    #Produkte .table-row div {
        padding: 0 2rem ;
    }

    /* Geschmackssorten Übersicht */

    .intensity-display{
        width: 100%;
        max-width: var(--max-width-desktop);
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .flavors-overview .slider-element{
        min-width: 20%;
        padding: 0 2rem;
    }

    .flavors-overview .dots,
    .flavors-overview .slider-arrows{
        display: none;
    }

    /* Produkt-Slider */
    .product-slider .slider-container{
        max-width: var(--max-width-desktop);
    }

    .product-slider .product-img{
        max-width: 600px;
    }

    /* Kunden */

    #Kunden .slider-element{
        min-width: 33.333333%
    }

    #Kunden .dots,
    #Kunden .slider-arrows{
        display: none;
    }

    /* Footer */

    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        max-width: var(--max-width-desktop);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5vh var(--padding-side-desktop);
        font-size: 1rem;
        gap: 10%;
    }

    footer i {
        font-size: 2.5rem;
    }

    footer .scrollbar-track{
        position: relative;
        flex-grow: 4;
        background-color: var(--color-04);
        height: 8px;
        flex-grow: 4;
        border-radius: 100000000px;
    }

    footer .scrollbar-handle{
        background-color: var(--color-03);
        height: 100%;
        width: 10%;
        position: absolute;
        left: 10%;
        bottom: 0;
        border-radius: 100000000px;
        transform: translateX(-100%);
    }


}
